    /*
    Flaticon icon font: Flaticon
    Creation date: 01/02/2021 15:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-lost-items:before { content: "\f100"; }
.flaticon-lost-items-1:before { content: "\f101"; }
.flaticon-multiple-users-silhouette:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-suitcase:before { content: "\f104"; }
.flaticon-purse:before { content: "\f105"; }
.flaticon-wallet:before { content: "\f106"; }
.flaticon-handshake:before { content: "\f107"; }
    
    $font-Flaticon-lost-items: "\f100";
    $font-Flaticon-lost-items-1: "\f101";
    $font-Flaticon-multiple-users-silhouette: "\f102";
    $font-Flaticon-group: "\f103";
    $font-Flaticon-suitcase: "\f104";
    $font-Flaticon-purse: "\f105";
    $font-Flaticon-wallet: "\f106";
    $font-Flaticon-handshake: "\f107";